{
  "swagger": "2.0",
  "info": {
    "title": "GraphExcelPoC",
    "description": "",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/sites/{hostName}:/{relativePathFromHost}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "displayName": {
                  "type": "string",
                  "description": "displayName"
                },
                "isPersonalSite": {
                  "type": "boolean",
                  "description": "isPersonalSite"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "createdDateTime"
                },
                "lastModifiedDateTime": {
                  "type": "string",
                  "description": "lastModifiedDateTime"
                },
                "webUrl": {
                  "type": "string",
                  "description": "webUrl"
                }
              }
            }
          }
        },
        "summary": "Get Site By Path",
        "operationId": "GetSiteByPath",
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "relativePathFromHost",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "description": "Get Site By Path"
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/createSession": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "persistChanges": {
                  "type": "boolean",
                  "description": "persistChanges"
                }
              }
            }
          }
        },
        "summary": "Create Session",
        "operationId": "CreateSession",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "persistChanges": {
                  "type": "boolean",
                  "description": "persistChanges",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                }
              },
              "required": [
                "persistChanges"
              ]
            }
          }
        ],
        "description": "Create Session"
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/worksheets": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "List Worksheets",
        "description": "List Worksheets",
        "operationId": "ListWorksheets",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/worksheets/add": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "visibility": {
                  "type": "string",
                  "description": "visibility"
                }
              }
            }
          }
        },
        "summary": "Create Worksheet",
        "description": "Create Worksheet",
        "operationId": "CreateWorksheet",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Name"
                }
              }
            }
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/worksheets/{worksheetIdOrName}": {
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "visibility": {
                  "type": "string",
                  "description": "visibility"
                }
              }
            }
          }
        },
        "summary": "Update Worksheet",
        "description": "Update Worksheet",
        "operationId": "UpdateWorksheet",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "worksheetIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Name"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position",
                  "title": "Position"
                },
                "visibility": {
                  "type": "string",
                  "description": "Visible or Hidden",
                  "title": "Visibility",
                  "enum": [
                    "Visible",
                    "Hidden"
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/closeSession": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Close Session",
        "description": "Close Session",
        "operationId": "CloseSession",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/names": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "value": {
                        "type": "object",
                        "properties": {},
                        "description": "value"
                      },
                      "visible": {
                        "type": "boolean",
                        "description": "visible"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Names",
        "description": "List Names",
        "operationId": "ListNames",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/names/add": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "value": {
                  "type": "object",
                  "properties": {},
                  "description": "value"
                },
                "visible": {
                  "type": "boolean",
                  "description": "visible"
                },
                "comment": {
                  "type": "string",
                  "description": "comment"
                }
              }
            }
          }
        },
        "summary": "Create Named Range",
        "description": "Create Named Range",
        "operationId": "CreateNamedRange",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Name"
                },
                "reference": {
                  "type": "string",
                  "description": "Range reference, e.g. =Sheet1!$A$1:$C$5",
                  "title": "Reference"
                },
                "comment": {
                  "type": "string",
                  "description": "comment",
                  "title": "Comment"
                }
              },
              "required": [
                "name",
                "reference"
              ]
            }
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/names/{name}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "value": {
                  "type": "object",
                  "properties": {},
                  "description": "value"
                },
                "visible": {
                  "type": "boolean",
                  "description": "visible"
                },
                "comment": {
                  "type": "string",
                  "description": "comment"
                }
              }
            }
          }
        },
        "summary": "Get Named Range",
        "description": "Get Named Range",
        "operationId": "GetNamedRange",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "value": {
                  "type": "object",
                  "properties": {},
                  "description": "value"
                },
                "visible": {
                  "type": "boolean",
                  "description": "visible"
                },
                "comment": {
                  "type": "string",
                  "description": "comment"
                }
              }
            }
          }
        },
        "summary": "Update Named Range",
        "description": "Update Named Range",
        "operationId": "UpdateNamedRange",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Name"
                },
                "value": {
                  "type": "string",
                  "description": "New range reference, e.g. =Sheet1!$A$1:$C$5",
                  "title": "Reference"
                },
                "visible": {
                  "type": "boolean",
                  "description": "visible",
                  "title": "Visible"
                },
                "comment": {
                  "type": "string",
                  "description": "comment",
                  "title": "Comment"
                }
              }
            }
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/tables": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "showHeaders": {
                        "type": "boolean",
                        "description": "showHeaders"
                      },
                      "showTotals": {
                        "type": "boolean",
                        "description": "showTotals"
                      },
                      "style": {
                        "type": "string",
                        "description": "style"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Tables",
        "description": "List Table",
        "operationId": "ListTables",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/tables/add": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "showHeaders": {
                  "type": "boolean",
                  "description": "showHeaders"
                },
                "showTotals": {
                  "type": "boolean",
                  "description": "showTotals"
                },
                "style": {
                  "type": "string",
                  "description": "style"
                }
              }
            }
          }
        },
        "summary": "Create Table",
        "description": "Create Table",
        "operationId": "CreateTable",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "A1-notation range for the table, e.g. A1:C5",
                  "title": "Address"
                },
                "hasHeaders": {
                  "type": "boolean",
                  "description": "Whether the first row contains headers",
                  "title": "Has Headers"
                }
              },
              "required": [
                "address",
                "hasHeaders"
              ]
            }
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/tables/{tableIdOrName}": {
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "showHeaders": {
                  "type": "boolean",
                  "description": "showHeaders"
                },
                "showTotals": {
                  "type": "boolean",
                  "description": "showTotals"
                },
                "style": {
                  "type": "string",
                  "description": "style"
                }
              }
            }
          }
        },
        "summary": "Update Table",
        "description": "Update Table",
        "operationId": "UpdateTable",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Name"
                },
                "showHeaders": {
                  "type": "boolean",
                  "description": "showHeaders",
                  "title": "Show Headers"
                },
                "showTotals": {
                  "type": "boolean",
                  "description": "showTotals",
                  "title": "Show Totals"
                },
                "style": {
                  "type": "string",
                  "description": "Excel table style name, e.g. TableStyleMedium2",
                  "title": "Style"
                }
              }
            }
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/worksheets/{worksheetIdOrName}/cell(row={row},column={column})": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "addressLocal": {
                  "type": "string",
                  "description": "addressLocal"
                },
                "cellCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "cellCount"
                },
                "columnCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "columnCount"
                },
                "columnIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "columnIndex"
                },
                "valueTypes": {
                  "type": "string",
                  "description": "valueTypes"
                }
              }
            }
          }
        },
        "summary": "Get Cell",
        "description": "Get Cell",
        "operationId": "GetCell",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "worksheetIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "row",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "column",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update Cell",
        "description": "Update Cell",
        "operationId": "UpdateCell",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "worksheetIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "row",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "column",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "values": {
                  "type": "string",
                  "description": "values",
                  "title": "Value"
                },
                "formulas": {
                  "type": "string",
                  "description": "formulas",
                  "title": "Formula"
                },
                "numberFormat": {
                  "type": "string",
                  "description": "numberFormat",
                  "title": "Number Format"
                }
              }
            }
          }
        ]
      }
    },
    "/v1.0/sites(\u0027{siteId}\u0027)/drive/root:/{pathFromRoot}:/workbook/worksheets/{worksheetIdOrName}/range(address=\u0027{address}\u0027)": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "addressLocal": {
                  "type": "string",
                  "description": "addressLocal"
                },
                "cellCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "cellCount"
                },
                "columnCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "columnCount"
                },
                "rowCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "rowCount"
                },
                "columnIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "columnIndex"
                },
                "rowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "rowIndex"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {}
                  },
                  "description": "values"
                },
                "formulas": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": "formulas"
                },
                "text": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": "text"
                },
                "numberFormat": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": "numberFormat"
                },
                "valueTypes": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": "valueTypes"
                }
              }
            }
          }
        },
        "summary": "Get Range",
        "description": "Get Range",
        "operationId": "GetRange",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "worksheetIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A1-notation address, e.g. A1:C5"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update Range",
        "description": "Update Range",
        "operationId": "UpdateRange",
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pathFromRoot",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "worksheetIdOrName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A1-notation address, e.g. A1:C5"
          },
          {
            "name": "workbook-session-id",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "values": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {}
                  },
                  "description": "2D array of cell values, e.g. [[\u0022A1\u0022,\u0022B1\u0022],[\u0022A2\u0022,\u0022B2\u0022]]. Pass \u0022\u0022 to clear a cell, null to leave it unchanged."
                },
                "formulas": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": "2D array of formula strings, e.g. [[\u0022=SUM(X1:X5)\u0022,\u0022\u0022],[\u0022\u0022,\u0022=TODAY()\u0022]]."
                },
                "numberFormat": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": "2D array of Excel number format strings, e.g. [[\u0022$#,##0.00\u0022,\u0022@\u0022]]."
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "security": [
    {
      "oauth2-auth": [
        "https://graph.microsoft.com/.default"
      ]
    }
  ],
  "tags": [],
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "https://graph.microsoft.com/.default": "https://graph.microsoft.com/.default"
      },
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize"
    }
  }
}